* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 80%;
  margin-inline: auto;
}

@media (max-width: 992px) {
  .container {
    width: 90%;
  }
}

/* NAVBAR */
.navbar {
  padding: 30px 0;
}

.navbar-box {
  display: flex;
  justify-content: center;
}

.navbar-box .menu {
  display: flex;
  align-items: center;
  gap: 45px;
}

.navbar-box .menu li {
  list-style-type: none;
}

.navbar-box .menu li a {
  text-decoration: none;
  color: black;
}

/* HERO */
.hero {
  margin-block: 70px;
}

.hero-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.hero-box img {
  margin-top: 50px;
  width: 300px;
}

.hero-box h1 {
  text-align: center;
  font-weight: 500;
  font-size: 60px;
  line-height: 1.3;
}

.hero-box h2 {
  text-align: center;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.3;
}

.hero-box h1 span {
  font-weight: bold;
  color: #0066cc;
}

@media (max-width: 768px) {
  .hero-box h1 {
    font-size: 45px;
  }
}

@media (max-width: 475px) {
  .hero-box h1 {
    font-size: 40px;
  }
}

header svg {
  margin-bottom: -10px;
}

/* TENTANG */
.tentang {
  background-color: #0066cc;
  padding-block: 50px;
  color: white;
}

.tentang .container > h1 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 40px;
}

/* .tentang .tentang-box .box a {
  display: inline-block;
  margin-top: 10px;
} */

.tentang-box .box:nth-child(1) {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 150px;
  align-items: center;
  gap: 50px;
}

.tentang-box .box:nth-child(1) img {
  width: 300px;
  padding: 10px 10px 0 10px;
  background-color: #1f509a;
  border: 1px solid white;
  border-radius: 10px;
  margin-inline: auto;
}

.tentang-box .box:nth-child(1) p {
  line-height: 2;
  text-align: justify;
  margin-bottom: 50px;
}

.tentang-box .box:nth-child(1) p span {
  font-weight: bold;
}

.tentang-box .box:nth-child(1) a {
  border: 1px solid white;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.tentang-box .box:nth-child(1) a.lihat-cv {
  background-color: #133e87;
  margin-right: 15px;
}

.tentang-box .box:nth-child(1) a:hover {
  background-color: white;
  color: black;
  font-weight: bold;
}

.tentang-box .tools {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  margin-top: 30px;
}

.tentang-box .tools .tools-box {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid white;
  padding: 10px;
  border-radius: 5px;
}

.tentang-box .tools .tools-box:hover {
  background-color: white;
  color: black;
}

.tentang-box .tools .tools-box img {
  width: 50px;
  background-color: white;
  border-radius: 5px;
}

@media (max-width: 992px) {
  .tentang-box .box:nth-child(1) {
    grid-template-columns: 1fr;
  }

  .tentang-box .box:nth-child(1) a.lihat-cv {
    margin-right: 0;
  }

  .tentang-box .box:nth-child(1) div {
    text-align: center;
  }
}

/* PROYEK */
.proyek {
  padding-block: 50px;
}

.proyek-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 50px;
}

.proyek-box .box {
  padding: 20px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.proyek-box .box img {
  width: 100%;
  border-radius: 10px;
}

.proyek-box .proyek-desc {
  margin-top: 20px;
}

.proyek-box .proyek-desc p {
  line-height: 2;
  margin-top: 10px;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.6);
}

.proyek-box .proyek-desc .proyek-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.proyek-box .proyek-desc .proyek-btn a {
  background-color: #0066cc;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.proyek-box .proyek-desc .proyek-btn a:hover {
  background-color: #0099ff;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .proyek-box {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 100px) and (max-width: 768px) {
  .proyek-box {
    grid-template-columns: 1fr;
  }
}

/* SERIFIKAT */
.sertifikat {
  background-color: #0066cc;
  padding-block: 50px;
  color: white;
  margin-top: -30px;
}

.sertifikat-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 50px;
}

.sertifikat-box .box {
  padding: 20px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #fafafa;
}

.sertifikat-box .box img {
  width: 100%;
  border-radius: 10px;
}
.sertifikat-box .sertifikat-desc {
  margin-top: 20px;
  color: black;
  text-align: center;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .sertifikat {
    margin-top: -10px;
  }
  .sertifikat-box {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 100px) and (max-width: 768px) {
  .sertifikat-box {
    grid-template-columns: 1fr;
  }
}

/* KONTAK */
footer {
  background-color: #0066cc;
  margin-top: -10px;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

footer span {
  font-weight: bold;
}

footer .social {
  display: flex;
  gap: 20px;
  margin-right: 80px;
}

footer .social a {
  color: white;
  text-decoration: none;
  font-size: 40px;
}

footer .social a:hover {
  transform: scale(1.2);
  text-shadow: 0 0 10px rgba(3, 1, 71, 0.8);
}

@media (max-width: 768px) {
  footer {
    flex-direction: column-reverse;
    gap: 20px;
  }

  footer .social {
    margin-right: 0;
  }
}

/* SCROLL ON TOP */
.scroll-up {
  position: fixed;
  bottom: -50px;
  right: 40px;
  background-color: #0099ff;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
  opacity: 0;
  transition: all 0.3s ease;
}

.scroll-up.scroll-active {
  bottom: 40px;
  opacity: 1;
}

.scroll-up:hover {
  background-color: #0077c0;
}

.scroll-up a {
  color: white;
}

@media (max-width: 475px) {
  .scroll-up {
    right: 20px;
  }

  .scroll-up.scroll-active {
    bottom: 30px;
  }
}

/* DARK MODE */
body.dark {
  background-color: #000033;
  color: white;
}

body.dark svg path {
  fill: #024caa;
}
body.dark .navbar-box .menu li a {
  color: white;
}

body.dark .hero-box h1 {
  color: white;
}

body.dark .tentang {
  background-color: #024caa;
}

body.dark .tentang-box .tools .tools-box {
  border-color: #ccc;
}

body.dark .proyek-box .box {
  background-color: #1f509a;
  border: 1px solid #333;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}

body.dark .proyek-box .box h3,
body.dark .proyek-box .box p {
  color: #eaeaea;
}

body.dark .sertifikat {
  background-color: #024caa;
}

body.dark .sertifikat-box .box {
  background-color: #1f509a;
  border: 1px solid #333;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}

body.dark .sertifikat-box .box h3 {
  color: #eaeaea;
}

body.dark footer {
  background-color: #024caa;
  color: white;
}

.dark-toggle {
  position: fixed;
  top: 90px;
  right: 20px;
  background: #0099ff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 50%;
  font-size: 25px;
  cursor: pointer;
  z-index: 9999;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transition: background 0.3s;
}

.dark-toggle:hover {
  background: #0077c0;
}

.dark-toggle i {
  color: white;
}

body.dark .dark-toggle i {
  color: white;
}

@media (max-width: 475px) {
  .dark-toggle {
    top: 70px;
    right: 20px;
  }
}

/* NAVBAR PONI */
.nav-poni {
  position: fixed;
  top: -70px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(166, 174, 191, 0.758);
  padding: 14px 7px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  transition: top 0.3s ease, background 0.3s ease;
  z-index: 999;
}

.nav-poni .menu {
  display: flex;
  gap: 2px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-poni .menu li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  padding: 3px 6px;
  border-radius: 8px;
  transition: background 0.3s, color 0.3s;
}

.nav-poni .menu li a:hover {
  background: #0066cc;
}

/* muncul saat scroll */
.nav-poni.nav-active {
  top: 20px;
}
